* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;
    color: white;

}

body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

body {
    background-image: url(../img/abstract-futuristic-background-with-3d-design.jpg);

}

a {
    text-decoration: none;
}

/* ------------RESETEO Y FONDO---------- */

.white {
    color: $base-color;
}

.bg-op-black {
    background-color: rgba(20, 19, 19, 0.579);

}























/* ANIMACIONES */





.floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 15px);
    }

    100% {
        transform: translate(0, -0px);
    }
}



.scale-up-left {
    animation: scale-up-left 1s cubic-bezier(.39, .575, .565, 1.000) both
}


@keyframes scale-up-left {
    0% {
        transform: scale(.5);
        transform-origin: 0 50%
    }

    100% {
        transform: scale(1);
        transform-origin: 0 50%
    }
}

a:hover {
    border: 2px solid rgb(156, 4, 4);
    border-radius: 10px;
    transition-duration: 2s;
}

h2:hover {
    color: rgb(93, 1, 1);
    transition-duration: 4s;

}

.flip-in-ver-right {
    -webkit-animation: flip-in-ver-right 1s cubic-bezier(.25, .46, .45, .94) both;
    animation: flip-in-ver-right 1s cubic-bezier(.25, .46, .45, .94) both
}



@-webkit-keyframes flip-in-ver-right {
    0% {
        -webkit-transform: rotateY(-80deg);
        transform: rotateY(-80deg);
        opacity: 0
    }

    100% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
        opacity: 1
    }
}

@keyframes flip-in-ver-right {
    0% {
        -webkit-transform: rotateY(-80deg);
        transform: rotateY(-80deg);
        opacity: 0
    }

    100% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
        opacity: 1
    }
}

/* ANIMACIONES */




/* carousel */

.carousel-item>iframe
/* Clases */


.subtitulo {
    font-size: 70px;
    margin: 50px;
}

.texto {
    font-size: 40px;

}

.separador {
    margin: 150px;
}

.linea {
    border-top: 1px solid black;
    height: 2px;
    max-width: 200px;
    padding: 0;
    margin: 20px auto 0 auto;
}

.separador-video {
    margin: 30px;
}

.texto-personajes {
    font-size: 40px;
    margin: 70px;
}


/* -------------INDEX-MAIN-Class------------ */


/* ---------Tarjeta-------- */
.tarjeta-producto {
    border: 2px black solid;

    min-width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    margin: 10px;
}

.tarjeta-producto img {
    width: 60%;
}

.tarjeta-producto h3,
span {
    font-size: 25px;
}

.slider-productos {
    display: flex;
    overflow: auto;

}


/* ------botones----- */
.btn {
    border: solid rgb(104, 104, 255) 2px;
    border-radius: 10px;
    padding: 8px 10px;
    background-color: rgba(0, 0, 0, 0.172);

}





/* ------------contacto----------- */

.contacto {
    background: rgba(0, 255, 234, 0.164);
    background: linear-gradient(120deg, rgba(81, 193, 238, 0.249) 0%, rgba(60, 220, 245, 0.23rgba(106, 183, 211, 0.31)3, 211) 100%);
}

.formulario {
    width: 100%;
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);




}

label {
    border: rgba(0, 0, 0, 0.275) 3px solid;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0px 10px 0px;
}

input {
    background-color: transparent;
    border: none;
    border: rgb(29, 8, 8) 1px solid;
    padding: 10px;
    margin: 4px;

}


