.subtitulo {
    font-size: 70px;
    margin: 50px;
}

.texto {
    font-size: 40px;

}

.separador {
    margin: 150px;
}

.linea {
    border-top: 1px solid black;
    height: 2px;
    max-width: 200px;
    padding: 0;
    margin: 20px auto 0 auto;
}

.separador-video {
    margin: 30px;
}

.texto-personajes {
    font-size: 40px;
    margin: 70px;
}

.btn {
    border: solid rgb(104, 104, 255) 2px;
    border-radius: 10px;
    padding: 8px 10px;
    background-color: rgba(0, 0, 0, 0.172);

}